body{
    font-family: "Montserrat", sans-serif;
    color:#fff;
    background-color: #000;
    margin:0;
    overflow: hidden;

}
.main{
    height:100vh;
    display:flex;
    margin-top:0.5rem;
    margin-right:0.5rem;
}
.sidebar{
    background-color: #000;
    width:300px;
    border-radius:0.8rem;
    margin:0.5rem
}
.main-content{
    background-color:#121212;
    flex:1;
    border-radius:0.8rem;
    overflow:auto;
}
.music-player{
     background-color: black;
     position:fixed;
     bottom:0;
     width:100%;
     height:72px;
}
a{
    text-decoration: none;
    color:white;
}
.nav{
    background-color:#121212 ;
    border-radius:0.8rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    
}
.nav-option{
    line-height:2.5rem;
    opacity:0.7;
    padding:0.1rem 1rem;

}
.nav-option:hover{
    opacity:1
}
.nav-option i{
    font-size:1.2rem;
    margin-right: 1.2rem;
   
}
.nav-option a{
    font-size: 1rem;
}
.library{
    background-color:#121212 ;
    border-radius:0.8rem;
    height:100%;
    margin-top: 0.5rem;
}
.options{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.lib-option img{
    height:1.2rem;
    width:1.2rem;
}
.lib-option img{
    margin-right:1.2rem;
}
.icons{
    display:flex;  
    font-size:1.25rem;

}
.icons i{
    opacity:0.7;
    margin-right:1rem;
}
.icons i:hover{
    opacity:1;
}
.box{
    height:8rem;
    background-color:#232323;
    border-radius:0.8rem;
    margin:1rem 0;
    padding:1rem 1.25rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-p1{
    font-size:1rem;
    font-weight: 550;
}
.box-p2{
    font-size:0.75rem;
    opacity:0.7;
}
.badge{
    background-color: #fff;
    border:none;
    border-radius:100px;
    padding:0.25rem 1rem;
    font-weight:600;
    height:fit-content;
    width:fit-content;
   

}
.premium{
    background-color: white;
    border:none;
    height: fit-content;
    width:fit-content;
    border-radius:100px;
    padding:0.25rem 1rem;
    font-weight:600;
}
.inst-app{
    background-color: #000;
    border:none;
    height: fit-content;
    width:fit-content;
    color:#fff;
    border-radius:100px;
    padding:0.25rem 1rem;
    font-weight:600;
}
.sticky-nav{
    position:sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1.22rem 1.5rem;
    background-color: #121212;
    z-index:10;
}
@media (max-width:1000px){
    .premium,.hide{
        display:none;
    }
}
.backward{
    opacity:0.75;
}
.backward:hover{
    opacity:1;
}
.card{
    background-color: #232323;
    width:14rem;
    border-radius:0.6rem;
    padding:1rem;
    margin:1rem;
}
.card-img{
    width:14rem;
    border-radius:0.6rem;
}
.container-head{
    margin-left: 1.7rem;
}
.podcast-head{
    display:flex;
}
.card-title{
    font-weight:600;
}
.card-text{
    font-size:0.9rem;
    opacity:0.6;
}
.card{
    margin-left: 1.5rem;
    margin-top:0.7rem;
}
.card-container2{
    display:flex;
    flex:wrap;
}
.footer{
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.line{
    width:90%;
    height:60%;
    border-top:2px solid grey;
}
.music-player{
    display:flex;
    justify-content:center;
    align-items:center;
}
.albumn{
    width:25%;
  
}
.player{
    width:50%;
   
}


.player-controls-icon{
    height:1rem;
    margin-right: 1.75rem;
    opacity:0.7;
}
.player-controls-icon:hover{
    opacity:1;
}
 .contr-icon-3{
    opacity:1;
    height:2rem;
 }
 .contr-icon-3:hover{
    scale:1.1;
 }
.player-controls{
    display:flex;
    justify-content:center;
    align-items:center;
   
}
.playback-bar{
    display:flex;
    justify-content:center;
    align-items:center;
   
}
.progress-bar{
    width:60%;
    appearance: none;
    background-color:transparent;
    cursor:pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 1rem;
    height:0.3rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance:none;
    height:1rem;
    width:1rem;
    background-color:#1bd760 ;
    border-radius:50%;
    margin-top:-6px;
}
.controls-progress-bar{
    width:40%;
    appearance: none;
    background-color:transparent;
    cursor:pointer;
}
.controls-progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 1rem;
    height:0.3rem;
}
.controls-progress-bar::-webkit-slider-thumb{
    appearance:none;
    height:1rem;
    width:1rem;
    background-color:#1bd760 ;
    border-radius:50%;
    margin-top:-6px;
}
.controls{
    width:25%;
    display:flex;
    justify-content:center;
    align-items:center;
   

}
.controls i,svg ,input{
    margin-right: 0.5rem;
   
}
.albumn{
    display:flex;
    
    align-items: center;
    justify-content: center;
  
}
.albumn img{
  height:2.5rem;
}
.song{
    font-size: 0.9rem;
    color:white;  
    margin-bottom:0.2rem;
   
}
.singer{
    font-size: 0.75rem;
    color:#b3b3b3;

}
.description{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-left:0.5rem;
}
